extends widget/base

block append head
    //link(rel='stylesheet', href= url_for("/style/clock.css"))
    link(rel='stylesheet', href= url_for("/style/widget-post-list.css"))
    script(src= url_for("/js/snow.js"))
    //script(src= url_for("/js/clock.min.js"))
block topic
    span= `${ _p('archive') } · ${ page.year || __('all') }`

block content
    include widget/widget-post-list
        block sidebar
            div(style="position: sticky; top: 50px;")
                include widget/widget-archives
                //#hexo_electric_clock
                //include widget/widget-clock
